<div style="position:absolute; left:1px; right:1px; top:1px; bottom: 1px; overflow:hidden">

    <div class="progressbar1" visibility="IsBusy">
        <div class="progress1">
            <div class="pbaranim1"></div>
        </div>
    </div>

    <div class="messagebar" visibility="Message.HasMessage" label="Message.Caption" color="Message.Color">
        some message
    </div>


    <div style="height:100%; width:100%; position:relative; display:block; overflow:auto" visibility="IsBusy, reverse:true">%CONTENT%</div>
</div>